/* Views */
body {
  background: radial-gradient(circle at top, var(--blue-700), var(--blue-900)) no-repeat;
  min-height: 100vh;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.view-container {
  padding: 1.5rem;
}

/* Containers */
.tile {
  background-image: linear-gradient(var(--trans-500), var(--trans-300));
  border-radius: 1rem;
  box-shadow: 0 0.675rem 0.75rem -0.25rem rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

/* Layouts */
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block {
  display: block;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

/* Utility */
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.5rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.5rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.ml-4 {
  margin-left: 1rem;
}
.ml-5 {
  margin-left: 1.5rem;
}
.w-100 {
  width: 100%;
}

/* Type */
.title {
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.subtitle {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5rem;
}
.body {
  font-size: 1rem;
  line-height: 1.25rem;
}
.label {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}
.micro {
  font-size: 0.75rem;
  line-height: 1rem;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.danger {
  color: var(--red-500);
}
.formatted {
  white-space: pre-line;
}

/* Inputs */
.form-row {
  margin-top: 1.5rem;
}
input[type='text'],
input[type='email'],
input[type='date'],
textarea,
select {
  background-color: var(--blue-900);
  border: none;
  border-radius: 0.25rem;
  color: var(--gray-100);
  font-family: var(--font);
  font-size: 1rem;
  max-height: 14rem;
  max-width: 100%;
  min-width: 100%;
  padding: 0.5rem;
  width: 100%;
}
textarea {
  min-height: 4rem;
}
select {
  appearance: none;
}
input[type='text']:focus,
input[type='email']:focus,
input[type='date']:focus,
textarea:focus,
select:focus {
  outline: 0.125rem solid var(--green-500);
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.button {
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}
.button-primary {
  background-color: var(--green-500);
  color: var(--blue-900);
}
.button-secondary {
  background-color: transparent;
  border: 0.125rem solid var(--green-500);
  color: var(--green-500);
}
.button-danger {
  background-color: transparent;
  border: 0.125rem solid var(--red-500);
  color: var(--red-500);
}
